@font-face {
    font-family: 'Roboto';
    src: url('/fonts/roboto/Roboto-Regular.ttf') format('truetype');
}

html, body, p {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    height: 100vh;
    display: grid;
    grid-template: 1fr 5fr / 1fr 5fr;
}

/* SIDEBAR */
.sidebar {
    background-color: #1992d4;
    grid-row: 1 / 3;
    padding: 20px;

    display: grid;
    grid-template: min-content min-content min-content / 1fr;
    gap: 50px;
}

.logo {
    color: white;
    font-size: 30px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-items: start;
    align-items: center;
}

.sidebar-link {
    color:white;
    font-size: 20px;
    font-weight: 500;
    text-align: left;

    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-items: start;
    align-items: center;
}

.sidebar-two, .sidebar-three {
    display:grid;
    width:100%;
    gap: 4px;
}


/* HEADER */
.header {
    background-color: white;
    display: grid;
    grid-template: 2fr 5fr / 1fr;
}

.top {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.name {
    font-weight: bold;
}

.bottom {
    display: grid;
    grid-template-columns: 10% 50% 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.hi-there {
    font-size: 14px;
    font-weight: bold;
}

.user {
    font-size: 20px;
    font-weight: bold;
    margin-top: 8px;
}

.header-button {
    font-size: 16px;
    color:white;
    background-color: #1992d4;
    padding: 10px 20px;
    border-radius: 50px;
    border: none;
}



/* CONTENTS */
.contents {
    background-color: lightgray;
    display: grid;
    grid-template: 1fr 1fr / 5fr 2fr;
}

.projects {
    grid-row: 1 / 3;
    padding: 20px;
    box-sizing: border-box;

    display: grid;
    grid-template-rows: auto 1fr;
    height: 100%;
}

.announcements {
    padding: 20px;
    box-sizing: border-box;

    display: grid;
    grid-template-rows: auto 1fr;
    height: 100%;
}

.trending {
    padding: 20px;
    box-sizing: border-box;

    display: grid;
    grid-template-rows: auto 1fr;
    height: 100%;
}

.title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.cards-one {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(auto-fit, minmax(min(300px, 50%), 1fr));
    gap: 20px;
}

.project-link {
    background-color: white;
    border-radius: 10px;
    padding: 30px 30px;
    border-left: 10px solid orange;
}

.cards-two {
    display: grid;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    box-sizing: border-box;
}

.announcements-links {
    border-top: 1px solid grey;
    padding: 10px 0px;
}

.cards-three {
    display: grid;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    box-sizing: border-box;
}

.others {
    display: grid;
    grid-template: 1fr / 1fr 2fr;
}

/* ICONS */
.dashboard-img {
    display: inline;
    height: 70%;
}

.dashboard-img-main {
    display: inline;
    height: 90%;
}

.magnify {
    height: 20%;
    width: 20%;
    align-self: start;
    justify-self: right;
    margin-top: 10px;
}

.search {
    background-color: lightgray;
    height: 40%;
    width: 100%;
    border-radius: 10px;
}

.profile {
    font-size: 24px;
    font-weight: bold;
}